.row
  .span12
    = form_for @recipe do |f|
      .div
        .span8.offset3
          %h2 General Info
          .span3
            %fieldset
              = f.label :name
              = f.text_field :name, :autofocus => true
            - if Category.count > 0
              %fieldset
                = f.label "Category"
                = f.collection_select :category_id, Category.all, :id, :name
            %fieldset
              = f.label :servings, "Number of Servings"
              = f.text_field :servings

          .span3
            %fieldset
              = f.label :prep_time, "Preparation Time"
              = f.text_field :prep_time
            %fieldset
              = f.label :cook_time, "Cooking Time"
              = f.text_field :cook_time
            %fieldset
              = f.label :photo, "Recipe Picture"
              = f.file_field :photo
      .div
        .span8.offset3
          %h2 Ingredients
          .span1
            Amount
          .span1
            Measure
          .span4
            Item
          .span1
            Delete
          %br
          = f.fields_for :ingredients do |builder|
            %fieldset
              =render 'ingredient_fields', f:builder
          .span8
            = link_to_add_fields 'Add Ingredient', f, :ingredients
      .div
        .span8.offset3
          %h2 Method
          %fieldset
            = f.label "Method"
            = f.text_area :methodology, placeholder: "Type in the method..."
      .div.span12
        %fieldset
          .center
            = f.submit id: :submit, :class => "btn btn-success btn-xx-large center"
