.div
  .recipe-show
    %table
      %tbody
        %tr
          %th Name:
          %td= @recipe.name
        %tr
          %th Category:
          %td= @recipe.category.name
        %tr
          %th Servings:
          %td= @recipe.servings
        %tr
          %th Prep Time:
          %td= @recipe.prep_time
        %tr
          %th Cook Time:
          %td= @recipe.cook_time

    %h2= "Ingredients"
    .span8
      %table.table.table-condensed
        %thead
          %tr
            %th Amount
            %th Measure
            %th Item
            %th
        %tbody{id:"ingredients"}
          = render 'ingredients'
    %hr
    - if user_signed_in?
      - if current_user.has_role? :admin
        %h4= "Add Ingredient"
        = render 'ingredients/form'
        %hr

    %h2= "Method"
    .content
      = @recipe.method